[Unit]
Description=Run mycommand at shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash /root/maxim-reboot/maxim_poweron.sh
ExecStop=/bin/bash /root/maxim-reboot/maxim_poweroff.sh

[Install]
WantedBy=multi-user.target
